header {
  z-index: 2;
  background-color: rgb(51, 51, 51);
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  transition: 0.5s ease-in-out;
}

header:hover {
  border-image-source: linear-gradient(to left, #d0d32f, #ef9e34);
}

.engine{
  padding: 1rem;
}

.add{
  background-color: rgb(51, 51, 51);
  box-shadow: 0 0 0 10px rgb(51, 51, 51);
  color: rgb(255, 255, 255);
}

.components{
  text-align: start;
  width: fit-content;
  background-color: rgb(51, 51, 51);
  color: white;
  transition: 1s ease-in-out;
  padding: 1.5rem;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #e26009, #d1eb42);
  box-shadow: 0 0 0 5px rgb(51, 51, 51);
}

#particles{
  display: flex;
  text-align: center;
  justify-content: start;
}

.empty{
  width: 24px;
  height: 24px;
  background-color: black;
  display: grid;
}

.radiation{
  padding: 1em;
  background-color: rgb(51, 51, 51);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid rgba(255, 0, 0, 0.644);
  box-shadow: 0 0 0 5px rgb(51, 51, 51);
}