header {
  z-index: 2;
  background-color: rgb(51, 51, 51);
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  transition: 0.5s ease-in-out;
}

::-moz-selection { /* Code for Firefox */
  color: rgb(223, 201, 79);
  background: rgb(179, 125, 26);
}

::selection {
  color: rgb(247, 219, 65);
  background: rgb(179, 125, 26);
}

header:hover {
  border-image-source: linear-gradient(to left, #d0d32f, #ef9e34);
}

.engine {
  padding: 1rem;
}

.add {
  background-color: rgb(51, 51, 51);
  box-shadow: 0 0 0 10px rgb(51, 51, 51);
  color: rgb(255, 255, 255);
}

.components {
  text-align: start;
  width: fit-content;
  background-color: rgb(51, 51, 51);
  color: white;
  transition: 1s ease-in-out;
  padding: 1.5rem;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #e26009, #d1eb42);
  box-shadow: 0 0 0 5px rgb(51, 51, 51);
}

#particles {
  display: flex;
  text-align: center;
  justify-content: start;
}

.empty {
  width: 99px;
  height: 6.08rem;
  background-color: black;
  display: grid;
}

.config{
  padding: 1em;
  background-image: url("./media/png/radiation.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(51, 51, 51);
  color: #e26009;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid #e26009;
  box-shadow: 0 0 0 5px rgb(51, 51, 51);
  margin-bottom: 30px;
}

.radiation {
  padding: 1em;
  background-image: url("./media/png/radiation.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 81, 81);
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid rgba(255, 0, 0, 0.644);
  box-shadow: 0 0 0 5px rgb(51, 51, 51);
}

.red {
  accent-color: red;
}

.image-bg{
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0px;
}
